.app-container {
  text-align: center;
  padding: 20px;
}

.title {
  font-size: 2em;
  margin-bottom: 20px;
}

.wallet-info {
  margin-bottom: 20px;
}

.btn-send,
.btn-generate-qr {
  background-color: #008cba;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1em;
}

.btn-send:hover,
.btn-generate-qr:hover {
  background-color: #005f73;
}
